body {
background-color: grey;
padding: 18px;
margin-left: auto;
margin-right: auto;

}
html {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
     width: 90%;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
}
img {
    width: 13em;
    padding: 18px;

}
 .gallery {
     width: 95%;
     margin: 1rem auto;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     grid-gap: 20px;
     justify-items: center;;
}
input {
     box-sizing: border-box;
     width: 40%;
     height: 40px;
     padding: 8px ;
     margin: 0 0 0 92px;
     border-radius: 20px 0 20px 0;
     color: black;
     display: block;
    margin: 0 auto;
}

input:hover{
     border-width: thick;
     background-color: cadetblue;
}